{% extends "base.html" %}

{% block content %}

<div class='form'>
    <h1>Add a new entry to your blog</h1>
    <form action="/newpost" method="post">
        <div class="title-form">
            <label for="title">Title</label>
            <span class="error">{{title_error}}</span>
            <input name="title" type="text" value={{title}} >
        </div>

        <div class="text-form">
            <label for="text">Body</label>
            <span class="error">{{text_error}}</span>
            <textarea name="text">{{text}}</textarea>
        </div>

        <input class="submit" type="submit" value="Submit">
    </form>
</div>

{% endblock %}