{% extends "base.html" %}
{% block content %}
<div class="sign-up">
  <h2>Register New Account</h2>
  <form action="/signup" method="post">
    <div class="box">
        <label>Username:</label>
        <label>Password:</label>
        <label>Verify Password:</label>
    </div>

    <div class="other-box">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="password" name="verify"/>
    </div>

    <input class="submit" type="submit" value="Register"/>

  </form>
</div>
{% endblock %}
