body {
    padding: 0;
    margin: 0;
    font-family: Futura PT;
    color: #696969;
}

.error {
    color: #f53939;
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    width: calc(100% / 6 - 40px);
    padding: 20px;
    box-sizing: border-box;
}